
.navbar{
margin-bottom:0px !important;
}

.navbar-brand {

}
.navbar-inverse{
background-color: #2F4F4F;
color: grey;
}


.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    
}


.nav-pills > li {
    display: inline-block;
    float:none;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 150%;
    color: white;


}



.nav-pills > li.hover > a{

}


.nav-pills > li.active > a{
	
    color: white;
}
.nav-tabs{
	font-size: 150%;
}


.tab-pane{
	font-size: 150%;
}




.myDiv{
position:relative;
z-index:1;

}
.myDiv:before{
content: "";
position: absolute;
z-index: -1;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: url("http://www.dunellenautorepair.com/pic2.jpg");
opacity: .2;
}

#mainImg {
    opacity: 0.4;
    filter: alpha(opacity=40); 
}








.backgroundGreen{
	background: #00FF00;
}

.textGreen{
color: #00FF00;
}

.backgroundG{
	background: #00FF00; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00FF00, #32CD32); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00FF00, #32CD32); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00FF00, #32CD32); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00FF00, #32CD32); /* Standard syntax */
}

.jumbotron{
	 background-color: #2F4F4F;
     border-color: #080808;
     color: white;
}